
body{
    background-color: blueviolet;
    color: azure;

}
.like{
    background-color: bisque;
    color: black;
}
.top{
    background-color: deepskyblue;
    color: crimson;
}
.tip{
    background-color: aquamarine;
    color: blueviolet;
    font-style: italic;
}
    




